<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>录音</title>
    </head>
    <body>
        <input type="button" value="录音开启" onclick="startRecord()" />
        <input type="button" value="录音停止" onclick="endRecord()" />
        <input type="button" value="播放录音" onclick="playRecord()" />
        <input type="button" value="上传翻译" onclick="transRecord()" />
        <audio autoplay controls id="audio"></audio>
        <div id="box" style="width: 30px;height: 0px;background-color: olive;"></div>
    </body>
<script src="recorder.js"></script>
<script>
var oDiv = document.getElementById('box'),
    audio = document.getElementById('audio'),
    recorder = null;

function startRecord() {
    if (!recorder) {
        recorder = new Recorder();
        recorder.ready().then(() => {
            recorder.start();
        });
    } else {
        recorder.start();
    }

    recorder.setOption({
        recorderProcess: function(voice) {
            // console.log(voice);
            oDiv.style.height = 100 *  voice + 'px';
            oDiv.style.marginTop = 100 * ( 1 - voice) + 'px';
        }
    });
}
function endRecord (e) {
    recorder.stop();
}
function transRecord (e) {
    let pcm = recorder.getPCMBlob(),
        formdata = new FormData();

    formdata.append('file', pcm);

    fetch('/speech', {
        method: 'POST',
        credentials: 'include',
        headers: {
            'Content-Type': 'multipart/form-data'
        },
        body: formdata
    }).then(function(response) {
        return response.json();
    }, function() {
        alert('请添加下阿里云的id和key');
    }).then(function(data) {
        console.log(data);
    });
}
function playRecord() {
    recorder.play(audio);
}
</script>
</html>
